* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.addProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    form {
        width: 80%;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        background-color: rgb(122, 118, 118);
        border-radius: 20px;
        div {
            margin-bottom: 10px;
        }
        label {
            width: 100%;
        }
        input {
            width: 80%;
            border-radius: 20px;
            border: none;
            text-align: center;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        input[type=number] { -moz-appearance:textfield; }
        h5 {
            margin-bottom: 20px;
            color: rgb(80, 79, 79);
        }
        .buttonAdd {
            width: 100%;
            text-align: center;

            input[type="submit"] {
                width: 60%;
                padding: 10px 15px;
                border-radius: 30px;
                border: none;
                background-color: lightgreen;
            }
        }
        #stockDiv{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 20px;
            label   {
                width: 80%;
            }
            input[type="checkbox"] {
                display: none;
            }
            svg {
                border: 2px solid black;
                background-color: black;
                border-radius: 100%;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .noStock {
                color: rgb(160, 97, 97) !important;
            }
            .siStock{
                color: rgb(97, 160, 105);
            }
        }
    }
    #error,#success {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 20px;
        h5 {
            padding: 10px;
            background-color: lightcoral;
            border-radius: 30px;
            text-align: center;
        }
    }
    #success {
        h5 {
            background-color: lightgreen;
        }
    }

}