* {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}
.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    .search {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        input {
            width: 80%;
            height: 50px;
            border: 2px solid #333;
            border-radius: 5px;
            text-align: center;
        }
    }
    .navbar {
        width: 80%;
        padding: 10px;
        text-align: center;
        background-color: transparent !important;
        margin-bottom: 10px;
        .navbar-toggler {
            width: 100%;
            border: none;
            text-decoration: none;
            background-color: rgb(255, 255, 255);
            color: black;
            border-radius: 5px;
        }
        .navbar-collapse {
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            overflow: hidden;

            .navbar-nav {
                width: 100%;
                li {
                    width: 100%;
                    border: 1px solid #ccc;
                    cursor: pointer;
                }
                li:hover {
                    background-color: #ccc;
                    transition: all 300ms;
                }
            }
        }
    }
    .productsList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;
        .productCard {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            width: 80%;
            border-radius: 5px;
            text-align: center;
            margin: 10px 0px;
            background-color: rgb(122, 118, 118);
            .product,.buttons {
                width: 100%;
                margin: 5px 0px;
            }
            .product {
                padding: 0px 10px;
            }
            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    height: 40px;
                    width: 40px;
                    margin: 0px 20px;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    svg {
                        display: block;
                    }
                }
                input {
                    width: 50%;
                    height: 30px;
                    text-align: center;
                    border-radius: 20px;
                    border: none;
                }
                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
                }

                input[type=number] { -moz-appearance:textfield; }
            }
        }
        .noStock {
            color: black;
            background-color: rgb(160, 97, 97);
        }
    }
    .sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        button{
            display: block;
            width: 90%;
            margin: 20px 0px;
        }
        button {
            position: fixed;
            cursor: pointer;
            padding: 30px 30px;
            font-size: 25px;
            bottom: 0px;
            background-color: lightgreen;
            border: none;
            border-radius: 20px;
        }

    }
    
}