<div class="Products">

    <div class="search"><input type="text" placeholder="Buscar" [(ngModel)]="nameSearch"/></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light pe-0 ps-0">
        <div class="container-fluid justify-content-center pe-0 ps-0">

          <a class="navbar-toggler pb-2 pt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategorys" aria-controls="navbarCategorys" aria-expanded="false" aria-label="Toggle navigation">
            <span>Categorías</span>
          </a>

          <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarCategorys">
            <ul class="navbar-nav mb-lg-0 justify-content-around">
              <li class="nav-item pb-1 pt-1" *ngFor="let category of Categorys">
                <a class="nav-link active p-0" aria-current="page" (click)="filterCategory(category)">{{category}}</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="productsList">
        <ng-container *ngFor="let product of Products; let i=index">
            <div class="productCard" *ngIf="product.name.toLowerCase().includes(nameSearch) && product.category.includes(nameCategory)" [ngClass]="{'noStock': !product.stock}">
                <span class="product"> {{product.name}} <br> <b>Precio: ${{product.price}}</b> </span>
                <span class="buttons" *ngIf="product.stock">
                    <button (click)="removedTrolley(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button> 
                    <input type="number" name="cant" #cant [(ngModel)]="product.cant">
                    <button (click)="addTrolley(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </span>
            </div>
        </ng-container>
    </div>
    
    <div class="sale" (click)="collect()"> 
        <button>Cobrar (${{total}})</button> 
    </div>
</div>