<div class="Products" *ngIf="!loading">
    <section *ngIf="!scannerRun">
        <div class="search"><input type="text" placeholder="Buscar" [(ngModel)]="nameSearch"/></div>

        <select [(ngModel)]="nameCategory">
            <option *ngFor="let category of Categorys" value="{{category}}">
                {{category}}
            </option>
        </select>
    
        <div class="productsList">
            <ng-container *ngFor="let product of Products; let i=index">
                <div class="productCard" *ngIf="(product.name.toLowerCase().includes(nameSearch) || product.codigo.includes(nameSearch) ) && product.category.includes(nameCategory)" [ngClass]="{'noStock': !product.stock}">
                    <span class="product"> {{product.name}} <br> <b>Precio: ${{product.price}}</b> </span>
                    <span class="buttons" *ngIf="product.stock">
                        <button (click)="removedTrolley(i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag-x" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                        </button>
                        <input type="number" name="cant" #cant [(ngModel)]="product.cant">
                        <button (click)="addTrolley(i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                        </button>
                    </span>
                </div>
            </ng-container>
        </div>
    </section>
    <section *ngIf="scannerRun">
        <scanner (getCodigo)="getCodigo($event)" [scannerInit]="scannerInit"></scanner>
        <div class="productsList">
            <ng-container *ngFor="let product of Products; let i=index">
                <div class="productCard" *ngIf="product.codigo == codigoBarr" [ngClass]="{'noStock': !product.stock}">
                    <span class="product"> {{product.name}} <br> <b>Precio: ${{product.price}}</b> </span>
                    <span class="buttons" *ngIf="product.stock">
                        <button (click)="removedTrolley(i)" (click)="reScann()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button> 
                        <input type="number" name="cant" #cant [(ngModel)]="product.cant">
                        <button (click)="addTrolley(i)" (click)="reScann()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </span>
                    <span class="buttons" *ngIf="!product.stock">
                        <button (click)="reScann()">                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    </span>
                </div>
                <div class="productCard noStock" *ngIf="product.codigo != codigoBarr" [ngClass]="{'noStock': !product.stock}">
                    <span class="buttons" *ngIf="!product.stock">
                        <button (click)="reScann()">                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    </span>
                </div>
            </ng-container>
        </div>
    </section>
    <div class="sale" > 
        <button *ngIf="scannerRun" (click)="scannerButton()">Buscar</button> 
        <button *ngIf="!scannerRun" (click)="scannerButton()">Scanear</button> 
        <button (click)="collect()">Cobrar (${{total}})</button> 
    </div>
    <button class="back"  [routerLink]="['/']">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="lightgreen" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </button>
</div>
<div class="Products loadingAPI" *ngIf="loading">
    <span></span>
</div>