* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.Edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    .search {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        input {
            width: 80%;
            height: 50px;
            border: 2px solid #333;
            border-radius: 5px;
            text-align: center;
        }
    }
    select {
        width: 80%;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        padding-left: 23px;
    }
    .productsList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;
        .productCard {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            background-color: rgb(122, 118, 118);
            margin: 20px 0px;
            .product {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 10px;
                .nameProduct {
                    width: 100%;
                    text-align: center;
                }
                .boxAux {
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 20px;
                    .price {
                        margin-right: 10px;
                        input {
                            width: 100px;
                            text-align: center;
                            border-radius: 20px;
                            border: none;
                            margin-left: 10px;
                        }
                        input[type=number]::-webkit-inner-spin-button, 
                        input[type=number]::-webkit-outer-spin-button { 
                            -webkit-appearance: none; 
                            margin: 0; 
                        }
                
                        input[type=number] { -moz-appearance:textfield; }
                    }
                    .stockDiv{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input[type="checkbox"] {
                            display: none;
                        }
                        svg {
                            border: 2px solid black;
                            background-color: black;
                            border-radius: 100%;
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                        }
                        .noStock {
                            color: rgb(160, 97, 97) !important;
                        }
                        .siStock{
                            color: rgb(97, 160, 105);
                        }
                    }
                }

                .buttons {
                    text-align: center;
                    width: 80%;
                    margin-bottom: 10px;
                    button {
                        padding: 10px;
                        border-radius: 20px;
                        border: none;
                        background-color: lightgreen;
                    }
                }
              
            }
           
        }
    }
    .sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        button{
            display: block;
            width: 90%;
            margin: 20px 0px;
        }
        button {
            position: fixed;
            cursor: pointer;
            padding: 30px 30px;
            font-size: 25px;
            bottom: 0px;
            background-color: lightgreen;
            border: none;
            border-radius: 20px;
        }

    }
    
}