* {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}
.Sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .ticket {
        margin-top: 20px;
        width: 90%;
        background-color: rgb(122, 118, 118);
        border-radius: 20px;
        padding: 5px 10px;
        margin-bottom: 240px;

        h3 {
            text-align: center;
        }
        .auxDiv {
            border: 2px dashed black;
        }
        .products {
            margin: 20px 0px;
            .productAux {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 30px;
                margin-bottom: 10px;
                span {
                    display: flex;
                    align-items: center;
                    button {
                        height: 24px;
                        width: 24px;
                        margin-left:5px;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        svg {
                            display: block;
                        }
                    }
                }
            }
        }
        .total {
            margin: 20px 0px;
            text-align: center;
        }
    }
    .end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        button {
            display: block;
            width: 90%;
            margin: 20px 0px;
        }
        button {
            position: fixed;
            cursor: pointer;
            padding: 30px 30px;
            font-size: 25px;
            bottom: 0px;
            background-color: lightgreen;
            border: none;
            border-radius: 20px;
        }
        .volver {
            bottom: 110px;
            background-color: lightcoral;
        }
    }
}