* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.Sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .ticket {
        margin-top: 20px;
        width: 90%;
        background-color: rgb(122, 118, 118);
        border-radius: 20px;
        padding: 5px 10px;
        margin-bottom: 240px;

        h3 {
            text-align: center;
        }
        .auxDiv {
            border: 2px dashed black;
        }
        .Pagado {
            margin-top: 10px;
            display: flex;
            align-items: center;
            input[type="checkbox"] {
                display: none;
            }
            svg {
                margin-left: 10px;
                border: 2px solid black;
                background-color: black;
                border-radius: 100%;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .noStock {
                color: rgb(160, 97, 97) !important;
            }
            .siStock{
                color: rgb(97, 160, 105);
            }
        }
        .products {
            margin: 20px 0px;
            .productAux {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 30px;
                margin-bottom: 10px;
                span {
                    display: flex;
                    align-items: center;
                    button {
                        height: 24px;
                        width: 24px;
                        margin-left:5px;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        svg {
                            display: block;
                        }
                    }
                }
            }
        }
        .buyer {
            input[type="text"] {
                width: 50%;
                margin-left: 10px;
                padding-left: 10px;
                border-radius: 20px;
                border: none
            }
        }
        .total {
            margin-bottom: 10px;
        }
    }
    .end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        bottom: 0px;
        position: fixed;
        width: 100%;
        button {
            display: block;
            width: 40%;
            max-width: 200px;
            margin: 20px 10px;
        }
        button {
            cursor: pointer;
            bottom: 0px;
            background-color: lightgreen;
            border: none;
            border-radius: 20px;
        }
        .volver {
            background-color: lightcoral;
        }
    }
}

@media (max-width: 700px){
    .Sale {
        .ticket {
            .products {
                .productAux {
                    flex-wrap: wrap;
                    span {
                        justify-content: center;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

}