@font-face {
    font-family: "SairaCondensed";
    src: url('../fonts/SairaCondensed/SairaCondensed-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

body {
    background: rgb(62,58,58) !important;
    min-height: 100vh;
}

.back {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.loadingAPI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: transparent;
    align-items: center;
    span {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        animation: rotateLoading;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes rotateLoading {
    0% {
        box-shadow: 0px 0px 3px 1px rgb(165, 165, 165), inset 0px 0px 3px 2px rgb(165, 165, 165)
    }
    25% {
        box-shadow: 0px 0px 3px 5px rgb(165, 165, 165)ed, inset 0px 0px 3px 5px rgb(165, 165, 165)
    }
    50% {
        box-shadow: 0px 0px 3px 8px rgb(165, 165, 165), inset 0px 0px 3px 8px rgb(165, 165, 165)
    }
    75%{
        box-shadow: 0px 0px 3px 5px rgb(165, 165, 165), inset 0px 0px 3px 5px rgb(165, 165, 165)
    }
    100% {
        box-shadow: 0px 0px 3px 1px rgb(165, 165, 165), inset 0px 0px 3px 2px rgb(165, 165, 165)
    }
}