<nav id="menuG" *ngIf="logged">
    <a id="buttonMenu" (click)="extendMenu()">Menu</a>

    <div class="menuExtend">
        <ul>
            <li><a (click)="extendMenu()" [routerLink]="['/']">Productos</a></li>
            <li><a (click)="extendMenu()" [routerLink]="['/sales']">Ventas</a></li>
            <li><a (click)="extendMenu()" [routerLink]="['/stock']">Stock</a></li>
            <li><a (click)="extendMenu()" [routerLink]="['/addProduct']">Añadir Producto</a></li>
            <li><a (click)="extendMenu()" [routerLink]="['/editProducts']">Editar Productos</a></li>
            <li><a (click)="extendMenu()" [routerLink]="['/register']">Registar Personal</a></li>
            <li><a (click)="logOut()">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>