<div class="menu" *ngIf="!loading">
    <ul class="menuUl">
        <li><a [routerLink]="['/products']">Productos</a></li>
        <li><a [routerLink]="['/sales']">Ventas</a></li>
        <li><a [routerLink]="['/fiado']">Clientes</a></li>
        <li><a [routerLink]="['/addProduct']">Añadir Producto</a></li>
        <li><a [routerLink]="['/editProducts']">Editar Productos</a></li>
        <li><a [routerLink]="['/register']">Registar Personal</a></li>
        <li><a (click)="logOut()">Cerrar Sesión</a></li>
    </ul>
</div>
<div class="menu loadingAPI" *ngIf="loading">
    <span></span>
</div>