.Stock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;

    .search {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
        input {
            width: 80%;
            height: 50px;
            border: 2px solid #333;
            border-radius: 5px;
            text-align: center;
        }
    }
    
    .listStock {
        width: 80%;
        padding: 0px 20px;
        border-radius: 10px;
        background-color: rgb(122, 118, 118);
        div {
            margin: 15px 0px;
            display: flex;
            justify-content: space-between;

            #stockDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                input[type="checkbox"] {
                    display: none;
                }
                svg {
                    border: 2px solid black;
                    background-color: black;
                    border-radius: 100%;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
                .noStock {
                    color: rgb(160, 97, 97) !important;
                }
                .siStock{
                    color: rgb(97, 160, 105);
                }
            }
            
        }
    }
}